<nav class="navbar custom-navbar">
    <div class="container-fluid">
        <a class="navbar-brand" style="color: 626F47;">Gerenciador de Contatos</a>
    </div>
</nav>

<div class="containerTeste">

    <div class="containerCadastro">
        <div>
            <h3>CADASTRO DE CONTATOS</h3>
        </div>
        
        <div class="teste">
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Nome</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="contatoEdit.nome" (keyup.enter)="save()">
            </div>

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Telefone</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="contatoEdit.telefone" (keyup.enter)="save()">
            </div>

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">E-mail</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="contatoEdit.email" (keyup.enter)="save()">
            </div>
            <div class="containerButton">
                <button style="background-color: #9EA1D4; color: white;" class="btn btn-outline" (click)="save()">SALVAR</button>
            </div>
                
            
            
        </div>
    </div>

    <div class="containerTable">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="background-color: #D5E5D5;" class="centralizar" scope="col">ID</th>
                    <th style="background-color: #D5E5D5;" class="centralizar" scope="col">Nome</th>
                    <th style="background-color: #D5E5D5;" class="centralizar" scope="col">Telefone</th>
                    <th style="background-color: #D5E5D5;" class="centralizar" scope="col">E-mail</th>
                    <th style="background-color: #D5E5D5;" class="centralizar" scope="col">Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let contato of lista; let i = index">
                    <th class="centralizar" scope="row">{{contato.id}}</th>
                    <td class="centralizar">{{contato.nome}}</td>
                    <td class="centralizar">{{contato.telefone}}</td>
                    <td class="centralizar">{{contato.email}}</td>
                    <td>
                        <div class="centralizar">
                            <button type="button" class="btn btn-outline-primary"
                                (click)="edit(contato)">EDITAR</button>
                            <button type="button" class="btn btn-outline-danger"
                                (click)="deleteById(contato)">EXCLUIR</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>