<p>contatoslist works!</p>

<!-- Tabela de contatos -->
<table class="table">
  <thead>
    <tr>
      <th style="background-color: antiquewhite;" class="centralizar" scope="col">ID</th>
      <th style="background-color: antiquewhite;" class="centralizar" scope="col">Nome</th>
      <th style="background-color: antiquewhite;" class="centralizar" scope="col">Telefone</th>
      <th style="background-color: antiquewhite;" class="centralizar" scope="col">E-mail</th>
      <th style="background-color: antiquewhite;" class="centralizar" scope="col">Ação</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contato of lista; let i = index">
      <th class="centralizar" scope="row">{{contato.id}}</th>
      <td class="centralizar">{{contato.nome}}</td>
      <td class="centralizar">{{contato.telefone}}</td>
      <td class="centralizar">{{contato.email}}</td>
      <td>
        <div class="centralizar">
          <button (click)="edit(contato)" type="button">Editar</button>
          <button (click)="deleteById(contato)" type="button">Deletar</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<!-- Formulário de cadastro e edição de contatos -->
<div>
  <h3>CADASTRO DE CONTATOS</h3>
  <div class="col-lg-4 offset-lg-4">
    <div>
      <label for="nome">Nome</label>
      <input id="nome" type="text" name="nome" [(ngModel)]="contatoEdit.nome" (keyup.enter)="save()" />

      <label for="telefone">Telefone</label>
      <input id="telefone" type="text" name="telefone" [(ngModel)]="contatoEdit.telefone" (keyup.enter)="save()" />

      <label for="email">E-mail</label>
      <input id="email" type="text" name="email" [(ngModel)]="contatoEdit.email" (keyup.enter)="save()" />

      <button type="button" (click)="save()">Salvar</button>
    </div>
  </div>
</div>
